$primary-color: #008000;
$secondary-color: #0000ff;
$university-color: #800080;

nav {
  height: 70px;

  .nav-section {
    display: flex;

    justify-content: space-between;

    img {
      height: 80px;
      width: 80px;
      align-self: center;
      border-radius: 10px;
    }
    ul {
      padding-top: 15px;

      li {
        display: inline-block;

        font-size: 1.2rem;
        padding-inline: 10px;
        text-decoration: none;
      }
    }
  }
}

.section-container {
  display: flex;
  background-color: rgb(62, 14, 123);
  border-radius: 10px;
  margin-top: 10px;
  justify-content: space-around;
  align-items: center;
}

@mixin section() {
  width: 500px;
  height: 500px;
  font-size: 2rem;
  padding-left: 15px;
  color: rgb(203, 195, 210);
  text-shadow: 0 0 10px 0;
  vertical-align: bottom;
  background-color: aquamarine color(rgb red);
}

.section-left-box {
  @include section();
}

@mixin section2($size, $value, $property) {
  width: 100px;
  height: 100px;
  flex-wrap: wrap;
  display: inline;

  object-fit: cover;
}

@mixin btn($main-color) {
  margin: 10px 10px 10px 5px;
  background-color: $main-color;
  padding: 10px;
  font-size: 0.9rem;

  @if ($main-color == black) {
    color: white;
  }
}

.btn-1 {
  @include btn(red);
}

.btn-2 {
  @include btn(blue);
}

.btn-3 {
  @include btn(black);
}

@mixin baseButton() {
  margin: 10px 10px 10px 5px;
  padding: 10px;
  font-size: 0.9rem;
}

$btn-colors: (
  primary: $primary-color,
  secondary: $secondary-color,
  tertiary: $university-color,
);

/* .btn-4 {
  @include baseButton();
  padding: 20px;
} */

@each $key, $value in $btn-colors {
  .btn-#{$key} {
    background-color: $value;
    @include baseButton();
  }
}

.class-container {
  background-color: white;
  height: 100px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;

  .display-card {
    background-color: rgb(62, 14, 123);
    display: flex;
    min-width: 50px;
    padding: 50px;

    img {
      width: 100%;
      border-radius: 10px;
    }
  }
}
